
.zuUns-container {
  display:flex;
  padding: 3em 1em;
  margin: 0 auto;
  max-width: 700px;
  justify-content: center;
  align-items: center;
  background: var(--logo-dgreen);
  box-shadow: 7.5px 4px 13px -5.5px #000000;
   
}
.zuUns-container-right {
  display: flex;
  padding: 3em 1em;
  margin: 0 1em;
  justify-content: center;
  align-items: center;
  background: var(--primary-bkg-color);
 
}
.zuUns-img {
  width: 360px;
}
.zuUns-info {
  max-width: 300px;
}
.zuUns-title {
  color: var(---ter-bkg-color);
  font-family: "Oswald", sans-serif;
}
.zuUns-sub {
  color: var(--sec-text-color);
  font-family: "Noto Serif", serif;
}

.zuUns-text {
  font-size: 1.2rem;
}

.overlay {
  position: static;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1005;
}
.zuUns-intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-bkg-color);
  font-family: "Oswald", sans-serif;
  background: var(--sec-text-color);
  padding: 1em ;
  max-width: 425px;
  text-align: center;
  margin: 2em auto 1.5em auto;
  box-shadow: 7.5px 4px 13px -5.5px #000000;
 
}
/*aux*/
.highlighted {
  color: var(--primary-text-color);
  font-size: 1.3rem;
}
/*media queries*/

@media (max-width: 425px) {
  .zuUns-img {
    width: 160px;
  }
  .zuUns-container {
  
    display: flex;
    padding: 3em 2em;
    margin: 0 0em;
    justify-content: center;
    align-items: center;
    background: var(--primary-bkg-color);
    clip-path: polygon(5.8% 4%, 94.7% 0%, 96.1% 95%, 3.1% 93.5%);
}
.zuUns-container-right {
 
  padding:0;
  margin: 0 1em;
  
 
  }
  .zuUns-intro{
    
    box-shadow: none;
   
  }
}

@media (max-width: 1439px) {
  .zuUns-img {
    width: 260px;
  }

}
@media (max-width: 1440px) {

}
@media (max-width: 1024px)  {
 

  }
@media (max-width: 768px)  {
  .zuUns-img {
    width: 150px;
  }
  

  }
  
  @media (max-width: 424px)  {
    .zuUns-img {
      width: 135px;
      position: relative;
      right: 1em;
    }
    
    .zuUns-img {
      width: 150px;
    }
    }
 