.impressum {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 15em 3em  10em 3em ;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background: var(  --sec-text-color);
    clip-path: polygon(0.9% 1.8%, 98.4% 0%, 98% 98%, 1.4% 94.3%);
    font-family: "Oswald", sans-serif;
    border: 8px solid var(--primary-bkg-color);
    
  }
  
  .impressum h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .impressum p {
    margin: 5px 0;
  }
  
  .impressum .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .impressum .contact-info p {
    margin: 5px 0;
  }
  
  .impressum .vorstand {
    margin-bottom: 20px;
  }
  
  .impressum .vorstand p {
    margin: 5px 0;
  }
  
  .impressum .register-info {
    margin-bottom: 20px;
  }
  
  .impressum .register-info p {
    margin: 5px 0;
  }
  
  .impressum .verantwortlich {
    margin-bottom: 20px;
  }
  
  .impressum .verantwortlich p {
    margin: 5px 0;
  }
  