.spenden-container {
    display: flex;
    flex-direction: column;
    padding: 14em 1em 2em 1em;
    background: var(--sec-text-colorr);
    
}

    .spenden-iban {
        background: var(--sec-text-color);
       
        border: 8px solid var(--logo-dgreen);
        padding: 1em ;
        margin: 2em auto 3em auto;
       
        text-align: center;
        max-width: 700px;
        box-shadow: 7.5px 4px 13px -5.5px #000000;
     
    }
    .spenden-iban-title{
        font-size: 2em;
        padding: 1em;
        color: var(--primary-bkg-color);
    }

    .spenden-iban-konto{
        font-family: "Oswald", sans-serif;
        background-color:rgba(255, 187, 0, 0.281);
        padding: 1em .5em;
        border-radius: 10px;
        margin: 1.5em auto;
    }
    .spenden-iban p{
        text-align: justify;
    }
    .spenden-paypal{
        background: var(--sec-text-color);
  
        border: 8px solid var(--logo-dgreen);
        padding: 1em ;
        margin: 2em auto 3em auto;
       
        text-align: center;
        max-width: 700px;
        box-shadow: 7.5px 4px 13px -5.5px #000000;

    }

    @media (min-width: 700px) {
        .spenden-container {
            display: flex;
            flex-direction: row !important;;
            padding: 14em 1em 2em 1em;
            background: var(--sec-text-colorr);
            align-items: stretch;
            border: 1px solid var(--primary-bkg-color);
            justify-content: center;
        }
            .spenden-iban , .spenden-paypal {
                clip-path: none;
                margin: 0 .5em;
            }
    }