.carousel-item img {
  height: 100vh;
  object-fit:cover;

  z-index: -100;
  box-shadow: 7.5px 4px 13px -5.5px #000000;

}
.caption-container {
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  background: rgba(83,109,74,.15);
  border: 1px solid rgba(83,109,74,.075);
  border-radius: 5px;
  border-radius: 15px;
  bottom: 5em;
  box-shadow: 7.5px 4px 13px -5.5px #000;
  color: #000;
  color: #fff;
  font-family: Oswald,sans-serif;
  font-size: 1.3rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1.2;
  padding: 0.3em 0.5em;
  position: absolute;
  right: 70%; }
.caption-title{
 
  font-size: 1.5rem;
padding: 0.5em 0 0 0;
}

/*media queries*/

@media (max-width: 585px) {
  .caption-container{

  width: 100%;
bottom:5em;

left: 0em;
}

.carousel-item img {
  height: 100vh;
  object-fit:cover;
  object-position: 30%;
 padding: 0 .5em;
 
  z-index: -100;
  box-shadow: 7.5px 4px 13px -5.5px #000000;

}
  }