.carousel-item img {
  height: 100vh;
  object-fit:cover;

  z-index: -100;
  box-shadow: 7.5px 4px 13px -5.5px #000000;

}
.caption-container{
 background-color:whitesmoke;
 color:black ;
 font-size: 1.3rem;
 padding: 1em 2em;
 position: absolute;
 right: 60%;
 bottom:5em;
 background: var(  --sec-text-color);

 font-family: "Oswald", sans-serif;

 box-shadow: 7.5px 4px 13px -5.5px #000000;

 padding: 0.3em 0.5em;
 font-size: 1.2rem;
 font-weight: 700;
 line-height: 1.2;
 color: #ffffff;
 background: var(--logo-dgreen);
 letter-spacing: 5px;

 border-radius: 5px;

}
.caption-title{
 
  font-size: 1.5rem;
padding: 0.5em 0 0 0;
}

/*media queries*/

@media (max-width: 585px) {
  .caption-container{

  width: 100%;
bottom:5em;

left: 0em;
}

.carousel-item img {
  height: 100vh;
  object-fit:cover;
  object-position: 30%;
 padding: 0 .5em;
 
  z-index: -100;
  box-shadow: 7.5px 4px 13px -5.5px #000000;

}
  }