.intro-container {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  background: var(--sec-text-color);
  padding: 1em 2em;
  margin:1em 3em ;
 
  box-shadow: 7.5px 4px 13px -5.5px #000000;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--sec-text-color);
  padding: 1em 2em;

}
.right{
  display: flex;
  padding: 2em 3em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;

}
.right-title{
  font-family: "Noto Serif", serif;
  font-size: 2.5rem;
}
.right-text{
  margin: 1em 2em;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}
.right-video{
  width: 20%;
  height:30%;
  object-fit: cover;
  

}
.intro-title {
  color: var(--primary-bkg-color);
  margin: 1em 0.5em;
  font-family: "Noto Serif", serif;
}
.intro-sub {
  color: var(--sec-bkg-color);
  margin-right: 1em;
  font-size: 1.2rem;

  font-family: "Oswald", sans-serif;
}
.i0 {
  position: relative;
  left: -2em;
}
.i1 {
  position: relative;
  left: 2em;
}
.intro-typed {
  font-family: "Noto Serif", serif;
  color:rgb(236, 193, 98) ;
  font-size: 1.4rem;
}
.intro-text {
  text-align: center;
  max-width: 900px;

  padding: 1em 2em;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}
.uns-btn {
   clip-path: polygon(1% -6.7%, 98.6% 1.8%, 99.5% 98%, 0.7% 102%);
  border: 8px solid var(--primary-bkg-color);
  max-width: 700px;
  font-family: "Oswald", sans-serif;
  padding: 1em 1.5em;
  border-radius: 15px;
  background:var(--primary-bkg-color);

  margin-top: 2em;
}
.uns-btn a {
  color: var(--primary-text-color);
}

.uns-btn a:hover {
  color: var(--logo-dgreen);
}

/*aux*/
.text-cl{
  color:var(--primary-bkg-color)
}
/*medias queries*/

@media (max-width: 425px) {
  .intro-container {
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    justify-content: center;
    background: var(--sec-text-color);
    margin: 1em ;
    padding: 2em 1em;
    clip-path: polygon(3.8% 2%, 96.7% 0%, 97.1% 104%, 4.1% 98.5%);
  }

  .right-text{
    margin: 1em 2em;
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    text-align: justify;
  }
  .intro-text {
    text-align: justify;
   
  }
}